<div>
	<form name="myForm">

		<!-- <legend>Upload on form submit</legend> -->
		<div>
			Image Name: <input type="text" name="userName" ng-model="username"
				size="31" required> <i
				ng-show="myForm.userName.$error.required">*required</i>
		</div>

		<div>
			Photo: <input type="file" ngf-select ng-model="picFile" name="file"
				accept="image/*" ngf-max-size="2MB" required
				ngf-model-invalid="errorFile"> <i
				ng-show="myForm.file.$error.required">*required</i><br> <i
				ng-show="myForm.file.$error.maxSize">File too large
				{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
		</div>
		<div>
			<span><button ng-click="picFile = null" ng-show="picFile" class="btn btn-lg btn-info">Remove</button></span><span><button
				class="btn btn-lg btn-info" ng-click="uploadPic(picFile)">Submit</button></span>
		</div>

		<div>
			<span class="progress" ng-show="picFile.progress >= 0">
				<div style="width: {{picFile.progress"
					ng-bind="picFile.progress + '%'"></div>
			</span> <span ng-show="picFile.result">Upload Successful</span> <span
				class="err" ng-show="errorMsg">{{errorMsg}}</span>
		</div>

		<div>
			<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile"
				class="thumb">
		</div>
	</form>
</div>