<div>
	<div>
		<label> Line1 Address</label> <span class="mandatorySign">*</span> <input
			type="text" ng-model="address.line1"
			placeholder="  Line1 address Heree..">
	</div>
	<div>
		<label> Line2 Address</label> <input type="text"
			ng-model="address.line2" placeholder="  Line2 address Here..">
	</div>
	<div>
		<label> Line3 Address</label> <input type="text"
			ng-model="address.line3" placeholder="  Line3 address Here..">
	</div>
	<div>
		<label> City</label> <span class="mandatorySign">*</span> <input
			type="text" ng-model="address.city" placeholder="  City Name Here..">
	</div>
	<div>
		<label> Province</label> <span class="mandatorySign">*</span> <input
			type="text" ng-model="address.province"
			placeholder="  Country Name Here..">
	</div>
	<div>
		<label> Country</label> <span class="mandatorySign">*</span> <input
			type="text" ng-model="address.country"
			placeholder="  Country Name Here..">
	</div>
	<div>
		<label> Zip Code</label> <input type="text" ng-model="address.zipCode"
			placeholder="  zipcode  Here..">
	</div>
</div>